@import "tailwindcss";

@theme {
  --color-primary: #2596be;
  --color-primary-dark: #1b6f8c;
  --color-primary-darker: #144e64;
  --color-primary-deep: #0e3442;

  --color-bg-main: #0b0f14;
  --color-bg-section: #111827;
}

html{
  scroll-behavior: smooth;
}

@keyframes tech-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-tech-scroll {
  animation: tech-scroll 25s linear infinite;
}

/* .animate-tech-scroll:hover {
  animation-play-state: paused;
} */